---
import { AccordionFAQ } from "@components/Accordion";
import MainLayout from "@layouts/MainLayout.astro";

const seo = {
  title: "FAQ",
  description: "Badak Gunung - Explore our amazing trips",
  openGraph: {
    images: [
      {
        url: "https://badak-gunung.vercel.app/api/og?title=FAQ",
      },
    ],
  },
};

const items = {
  items: [
    {
      title: "Ketentuan dan Syarat Pembayaran",
      content: [
        {
          details:
            "Membayar uang muka/DP minimal 50% dari total tagihan atau dapat melunasinya sekaligus",
        },
        {
          details:
            "Pelunasan biaya trip dibayarkan maksimal pada hari H sebelum berangkat trip.",
        },
        {
          details:
            "Badak Gunung berhak membatalkan trip dengan pertimbangan-pertimbangan tertentu di luar kemampuan kami dan uang DP peserta akan dikembalikan 100%.",
        },
        {
          details:
            "Jadwal acara/itinerary bisa berubah tergantung cuaca dan kondisi alam serta kondisi lalu lintas.",
        },
      ],
    },
    {
      title: "Pembatalan dan Reschedule",
      content: [
        {
          details:
            "Tidak ada pengembalian uang muka/DP yang sudah dibayarkan oleh peserta trip yang membatalkan keikutsertaannya secara sepihak.",
        },
        {
          details:
            "Reschedule / pergantian jadwal trip diperkenankan, maksimal konfirmasi 7 hari sebelum keberangkatan. Kurang dari 7 hari peserta dianggap membatalkan trip secara sepihak.",
        },
        {
          details:
            "Jika terjadi pembatalan atau pergantian tanggal trip dikarenakan force majeur seperti bencana alam, penutupan tempat wisata atau sebab lain di luar kendali kami, maka biaya pendaftaran akan dikembalikan.",
        },
        {
          details:
            "Pembatalan dan penundaan trip hanya berlaku untuk jadwal trip low season.",
        },
        {
          details:
            "Pembatalan/penundaan trip pada peak season, uang muka tidak dapat di-refund.",
        },
      ],
    },
  ],
};
---

<MainLayout {...seo}>
  <p class="text-3xl font-semibold text-center mb-4">Frequently Asked</p>
  <div class="container max-w-screen-lg">
    <AccordionFAQ client:only="react" {...items} />
  </div>
</MainLayout>
