---
import MainLayout from "@layouts/MainLayout.astro";
import {
  BsCashCoin,
  BsFillLuggageFill,
  BsEmojiLaughing,
  BsChevronCompactRight,
} from "react-icons/bs";
import Card from "@components/Card.astro";
import { getContent } from "@lib/data";

// const data = await fetch("http://localhost:4321/api/get-post").then((res) => {
//   // if (!res.ok) {
//   // throw new Error("No post to fetch");
//   // }
//   return res.json();
// });

const data = await getContent();

// Log data for debugging (optional)
// console.log(data);\
import DynamicImage from "@components/DynamicImage.astro";
---

<MainLayout title="Home">
  <section class="h-screen bg-cover bg-no-repeat bg-center relative">
    <div class="absolute z-[5] h-screen w-full">
      <div class="relative h-full w-full">
        <DynamicImage imagePath="/src/assets/hero1.png" altText="hero image" />
        <!-- <img
          src={imgHero}
          alt="hero image"
          class="z-[2] w-full h-full object-cover object-center"
        /> -->
        <div
          class="absolute inset-0 z-[3] bg-gradient-to-b"
          style="background: linear-gradient(180deg, rgba(1, 1, 1, 0.5) 0%, rgba(0, 0, 0, 0.4) 25%, rgba(255, 255, 255, 0) 100%);"
        >
        </div>
      </div>
    </div>
    <div class="relative z-10 left-[10%] top-[30%] w-fit text-stone-200">
      <p class="mb-0">Welcome to</p>
      <p class="font-bold text-2xl mb-3">Badak Gunung</p>
      <p class="mb-0">
        <span
          class="typed"
          data-typed-items="Discover, Book and Enjoy Your Journey"></span>
      </p>
    </div>
  </section>

  <section class="container py-8">
    <p class="text-3xl font-semibold text-center my-4">Why Badak Gunung?</p>
    <div class="grid sm:grid-cols-3 grid-cols-1 justify-center">
      <div class="p-4 flex flex-col items-center text-center">
        <BsCashCoin size="3.75rem" />
        <p class="font-bold mt-4 mb-2 text-2xl">Save Money</p>
        <p>
          Dapatkan paket liburan yang <em>affordable</em> dengan fasilitas yang beragam
        </p>
      </div>
      <div class="p-4 flex flex-col items-center text-center">
        <BsFillLuggageFill size="3.75rem" />
        <p class="font-bold mt-4 mb-2 text-2xl">Stay Safe</p>
        <p>
          Kami pastikan setiap tamu yang berlibur dapat merasakan liburan yang
          aman dan nyaman
        </p>
      </div>
      <div class="p-4 flex flex-col items-center text-center">
        <BsEmojiLaughing size="3.75rem" />
        <p class="font-bold mt-4 mb-2 text-2xl">Get Help</p>
        <p>
          Liburanmu akan terasa lebih menyenangkan dengan ditemani kru yang
          ramah dan <em>helpful</em>
        </p>
      </div>
    </div>
  </section>

  <section class="container py-8">
    <p class="text-3xl font-semibold text-center my-4">Paket Kami</p>
    <div class="grid sm:grid-cols-2 grid-cols-1 justify-center gap-2">
      <Card data={data.slice(0, 2)} />
    </div>
    <button
      class="bg-teal-900 text-white rounded font-semibold mt-4 px-4 py-2 hover:bg-teal-700"
      onclick="window.location.href = '/paket'"
    >
      <span class="flex items-center gap-1">
        <BsChevronCompactRight />Paket Lainnya
      </span>
    </button>
  </section>
</MainLayout>

<script>
  import Typed from "typed.js";
  const typed = document.querySelector(".typed");
  if (typed) {
    let typedStrings: string | any =
      typed.getAttribute("data-typed-items") || [];
    // typedStrings = typedStrings.split(",");
    new Typed(".typed", {
      strings: typedStrings.split(null),
      loop: true,
      typeSpeed: 50,
      backSpeed: 50,
      backDelay: 500,
    });
  }
</script>
