---
import MainLayout from "@layouts/MainLayout.astro";
import Card from "@components/Card.astro";
import { getContent } from "@lib/data";

const data = await getContent();

const seo = {
  title: "Paket",
  description: "Badak Gunung - Explore our amazing trips",
  openGraph: {
    images: [
      {
        url: "https://badak-gunung.vercel.app/api/og?title=Paket",
      },
    ],
  },
};
---

<MainLayout {...seo}>
  <p class="text-3xl font-semibold text-center mb-4">Paket Trip</p>
  <section class="container">
    <div class="grid lg:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-4">
      <Card data={data} />
    </div>
  </section>
</MainLayout>
